<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - SAEP</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~~/Content/themes/base/jquery-ui.css")
    <link href="~/Content/themes/base/datepicker.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                @{ SAEP.Models.Usuario user = (SAEP.Models.Usuario)Session["usuario"];

                    if (user == null)
                    {
                        @Html.ActionLink("SAEP", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else if (user.id_rol.ToString() == "2")
                    {
                        @Html.ActionLink("SAEP", "Index", "Coordinator", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else if (user.id_rol.ToString() == "1")
                    {
                        @Html.ActionLink("SAEP", "Index", "Director", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else if (user.id_rol.ToString() == "3")
                    {
                        @Html.ActionLink("SAEP", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    }
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @{
                        if (user == null)
                        {

                        }
                        else
                        {
                            <li>@Html.ActionLink("Salir", "Salir", "Home")</li>

                            if (user.id_rol.ToString() == "1")
                            {
                                <li>@Html.ActionLink("Eventos", "Lista_Eventos", "Director")</li>
                            }
                        }
                    }

                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SAEP</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~~/Scripts/jquery-ui-1.12.1.js")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
