@model IEnumerable<SAEP.Models.Usuario>

@{
    if (Session["usuarioRol"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    else if (Session["usuarioRol"].ToString() == "2")
    {
        Response.Redirect("~/Coordinator/Index");
    }

    ViewBag.Title = "Lista Usuarios";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Crear Coordinador", "Create") |
    @Html.ActionLink("Crear Director", "CreateDir")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Nombre")
        </th>
        <th>
            @Html.DisplayName("Correo")
        </th>
        <th>
            @Html.DisplayName("Contraseña")
        </th>
        <th>
            @Html.DisplayName("Teléfono")
        </th>
        <th>
            @Html.DisplayName("Programa Educativo")
        </th>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.contraseña)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_Programa_Edu.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.c_Rol.descripcion)
        </td>
        <td>
            @Html.ActionLink("Borrar", "Delete", new { id = item.matricula })
        </td>
    </tr>
}

</table>
